@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
   --bg: rgb(255, 255, 255);
   --bg-lines: rgb(242, 242, 242);
   --text: rgb(15, 23, 42);

   --theme-button-bg: rgb(254, 111, 8);
   --content-bg: rgb(242, 242, 242);
   --card-experience-bg: rgb(255, 255, 255);
}

.dark {
   --bg: rgb(17, 24, 39);
   --bg-lines: rgb(63, 63, 63);
   --text: rgb(255, 255, 255);

   --theme-button-bg: rgb(17, 24, 39);
   --content-bg: rgb(17, 24, 39);
   --card-experience-bg: rgb(63, 63, 63);
}

body {
   @apply m-0 p-0 bg-(--bg) text-(--text);
}

.bg-lines {
   background: repeating-linear-gradient(110deg, var(--bg-lines) 0px, var(--bg-lines) 5px, transparent 2px, transparent 40px);
   background-size: 150% 150%;
   background-attachment: fixed;
   animation: bg-line_animated 0.5s linear infinite;
}
@keyframes bg-line_animated {
   0% {
      background-position: -44px 0px;
   }
   100% {
      background-position: 0px 0px;
   }
}

.allCenter {
   @apply items-center justify-center;
}

.allFull {
   @apply w-full h-full;
}

.allScreen {
   @apply w-screen h-screen;
}

.tabLink {
   @apply w-50 h-full p-2 flex border-(--text) justify-center items-center;
}
.tabLink_active {
   @apply border-2 rounded-t-xl;
}

.text-default {
   color: rgb(17 24 39);
}
